@tailwind base;
@tailwind components;
@tailwind utilities;

.role-select{
    width: 99%;
    border-radius: 5px;
    height: 35px;
}
.notemodal-backdrop {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(31, 41, 55, 0.60);
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 1000;
  }
  
  .notemodal-content {
    background: white;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 500px; 
    position: relative; 
  }
  .add-team-btn{
    margin:10px;
    margin-right: 71px !important;
  }

  .addmember-backdrop {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(31, 41, 55, 0.60);
    display: flex;
    justify-content: center;
    align-items: center; 
    z-index: 1000;
  }
  
  .addmember-content {
    background: white;
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 700px; 
    position: relative; 
  }
  .react-datepicker-wrapper {
    width: 100%;
  }
  
  .react-datepicker__input-container input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  .body,html{
    overflow: hidden;
  }